.pie-pagina{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f17fc3;
    color: aliceblue;
    padding-top: 30px;
}
.pie-pagina img{
    width: 20%;
}
.titulo-pie{
    
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.pie-pagina-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    
}
.contenido-pie{
    flex-grow: 7;
    
    margin: 10px;
}

.contenido-pie a{
    text-decoration: none;
    color: aliceblue;
}
